    <div class="repliesContainer">
        <div class="cardDiscussion">
            <img class="profilePic" src="https://randomuser.me/api/portraits/med/women/17.jpg" />
            <div class="cardDiscussionText">
                <div class="cardDiscussionHeader">
                    <span class="subjectDiscussion">Dummy Topic Subject</span>
                    <button class="btnInverse disabled">Tag</button>
                </div>
                <p>After I logged into my app, I saw that the settings were deleted after I restarted my server.</p>
                <div class="cardDiscussionFooter">
                    <p class="dateDiscussion">Jan 01 2020</p>
                </div>
            </div>
        </div>
    </div>