<div id="discussion">
    <div id="searchDiscussion">
        <form id="searchDiscussion" action="/searchDiscussion" method="POST"></form>
        Search by topic
        <select class="dropdownTopic inputHalf">
            {{#each topics}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
        </select>
        <button id="btnSearchDiscussion">go -&gt;</button>
        </form>
    </div>
    <h2 id="headerDiscussion">Latest discussions</h2>
    <div id="latestDiscussion">
        {{>cardDiscussion}}
        {{#if nextVisible}}
        <form id="nextPage" action="/nextPage" method="GET">
        <button id="discussionNextPage">Next</button>
        {{/if}}
        </form>
        {{#if backVisible}}
        <form id="previousPage" action="/previousPage" method="GET">
        <button id="discussionPreviousPage">Previous</button>
        {{/if}}
        </form>
    </div>


</div>