<div id="discussion">
    <div id="searchDiscussion">
        <form id="searchDiscussion" action="/searchDiscussion" method="POST"></form>
        Search by topic
        <select class="dropdownTopic inputHalf">
            {{#each profile}}
            {{#each this.topics}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
            {{/each}}
        </select>
        <button id="btnSearchDiscussion">go -&gt;</button>
        </form>
    </div>
    <h2 id="headerDiscussion">Latest discussions</h2>
    <div id="latestDiscussion">
        {{>cardDiscussion}}
    </div>


</div>