<div id="discussion">
    <div id="searchDiscussion">
        <form id="searchDiscussion" action="/searchDiscussion" method="POST"></form>
        Search by topic
        <select class="dropdownTopic inputHalf">
            {{#each profile}}
            {{#each this.topics}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
            {{/each}}
        </select>
        <button id="btnSearchDiscussion">go -&gt;</button>
        </form>
    </div>
    <h2 id="headerDiscussion">Latest discussions</h2>
    <div id="latestDiscussion">
        {{>cardDiscussion}}
        <div id="divPage">
            {{#if backVisible}}
            <form id="previousPage" action="/previousPage" method="GET">
                <button class="btnInverse btnPage" id="discussionPreviousPage">Previous</button>
                {{/if}}
            </form>
            {{#if nextVisible}}
            <form id="nextPage" action="/nextPage" method="GET">
                <button class="btnInverse btnPage" id="discussionNextPage">Next</button>
                {{/if}}
            </form>
        </div>

    </div>


</div>