<nav>
  <h1 id="logo">knowledge<span id="logoBase">Base</span></h1>
  <form id="formLogin" action="/login" method="POST">
    <input class="inputLogin" type="text" name="email" placeholder="email" />
    <input class="inputLogin" type="password" name="password" placeholder="password" />
    <button id="btnLogin">login</button>
  </form>
</nav>