<div class="questionInput">
  <h2 id="headerDiscussion">What's your question today?</h2>
  <form id="formDiscussion" action="/discuss" method="POST">
    <input class="input inputFull" type="text" name="subject" placeholder="subject" /><br />
    <textarea id="signupAbout" name="detail" rows="5" placeholder="explain in detail..."></textarea><br />
    <select class="dropdownTopic inputHalf">
      {{#each topics}}
      <option value={{this}}>{{this}}</option>
      {{/each}}
    </select>
    <button class="btnInverse" id="btnPostTimeline">post to timeline</button>
  </form>
</div>