<nav>
  <h1 id="logoAbbr">k<span id="logoBase">b</span></h1>
  <form id="formSearch" action="/search" method="POST">
    <div class="searchContainer">
      <i class="fa fa-search searchIcon"></i>
      <input class="inputSearch" type="text" name="search" placeholder="Search" />
    </div>
  </form>
  <form id="formLogout" action="/logout" method="POST">
    <button id="btnLogout">logout</button>
  </form>
</nav>