<div id="divSignup">
  <form id="formSignup" action="/signup-extended" method="POST">
    <input class="input inputFull" type="text" name="imgUrl" placeholder="imageurl" /><br />
    <textarea id="signupAbout" name="about" rows="5" placeholder="a few lines about yourself..."></textarea><br />
    <input class="input inputFull" type="text" name="country" placeholder="country" /><br />
    <input class="input inputFull" type="date" name="dob" /><br />
    <button class="btnInverse" id="btnRegister">{{btnText}}</button>
  </form>
</div>