<div id="divSignup">
  <h2 id="headerSignup">Join the world's largest community for knowledge sharing</h2>
  <form id="formSignup" action="/signup" method="POST">
    <input class="input inputHalf" type="text" name="fname" placeholder="firstname" />
    <input class="input inputHalf" type="text" name="lname" placeholder="lastname" /><br />
    <input class="input inputFull" type="text" name="email" placeholder="email" /><br />
    <input class="input inputFull" type="password" name="password" placeholder="password" /><br />
    <input class="input inputFull" type="password" name="passwordConfirm" placeholder="confirm password" /><br />
    <button id="btnSignup">sign up</button>
  </form>
  <p class="err">{{err}}</p>
</div>