<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  {{#if chatAssests}}
  <link href='/css/chat.css' rel='stylesheet' />
  {{/if}}
</head>

<body>
  {{{ body }}}
  {{#if chatAssests}}
  <script src="/js/chat.js" defer></script>
  {{/if}}
  <script src="/js/discussion.js" defer></script>
</body>

</html>