<div id="chatContainer">
    <div id="allContacts">
        <div class="contactContainer">
            <div class="contactImg"><img src="https://randomuser.me/api/portraits/med/women/64.jpg"></div>
            <div class="contactName">Heather Stone</div>
            <div class="contactDate">Sept 18</div>
        </div>
        <div class="contactContainer">
            <div class="contactImg"><img src="https://randomuser.me/api/portraits/med/women/64.jpg"></div>
            <div class="contactName">Heather Stone</div>
            <div class="contactDate">Sept 18</div>
        </div>
    </div>


    <div id="chats">
        <div class="message">
            <h2><span>SEP 4</span></h2>
            <div class="contactContainer">
                <div class="contactImg"><img src="https://randomuser.me/api/portraits/med/women/64.jpg"></div>
                <div class="contactName">
                    Heather Stone
                    <div>You have great zend skills, want to conduct a workshop?</div>
                </div>
            </div>
        </div>
        <div class="message">
            <h2><span>SEP 4</span></h2>
            <div class="contactContainer">
                <div class="contactImg"><img src="https://randomuser.me/api/portraits/med/women/64.jpg"></div>
                <div class="contactName">
                    Heather Stone
                    <div>You have great zend skills, want to conduct a workshop?</div>
                </div>
            </div>
        </div>
    </div>
    
</div>