<div id="divHome">
  <nav>
    <h1 id="logo">knowledge<span id="logoBase">Base</span></h1>
    <form id="formLogin" action="/login" method="POST">
      <input class="inputLogin" type="text" name="email" placeholder="email" />
      <input class="inputLogin" type="text" name="password" placeholder="password" />
      <button id="btnLogin">login</button>
    </form>
  </nav>

  <div class="row">
    <div id="colImg">
      <img src="img/bookstack.jpg">
    </div>
    <div id="colSignup">
      <div id="divSignup">
        <h2 id="headerSignup">Join the world's largest community for knowledge sharing</h2>
        <form id="formSignup" action="/signup" method="POST">
          <input class="input inputSignupHalf" type="text" name="fname" placeholder="firstname" />
          <input class="input inputSignupHalf" type="text" name="lname" placeholder="lastname" /><br />
          <input class="input inputSignupFull" type="text" name="email" placeholder="email" /><br />
          <input class="input inputSignupFull" type="text" name="password" placeholder="password" /><br />
          <input class="input inputSignupFull" type="text" name="passwordConfirm"
            placeholder="confirm password" /><br />
          <button id="btnSignup">sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>