<div class="divWrapper">
  {{>searchbar}}
  <div class="row">
    <div class="column" id="colLeft">
      {{>profile-sidebar}}
    </div>
    <div class="column" id="colRight">
      {{>question-input}}
      {{>discussion}}
    </div>
  </div>
</div>