<div class="divWrapper">
  {{>loginbar}}
  <div class="msg">
    {{msg}}
  </div>
  <div class="row">
    <div class="column" id="colLeft">
      <img src="img/bookstack.jpg">
    </div>
    <div class="column" id="colRight">
      {{>signup-basic}}
    </div>
  </div>
</div>