<div id="divWrapper">
  <nav>
    <h1 id="logo">knowledge<span id="logoBase">Base</span></h1>

  </nav>
  <div class="row">
    <div class="column" id="signupTag">
      <h2>Let us<br /> know a<br /> little more <br />about you</h2>
    </div>
    <div class="column" id="signupDetails">
      {{>signup-extended-info}}
    </div>
  </div>
</div>