.message h4 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 20px 0 20px; 
 } 
 
.message h4 span { 
     background: #fff;
     padding:0 10px; 
     font-size: 0.8em;
 }

.message{
    display: flex;
    flex-direction: column;
}

.chats{
    display: flex;
    flex-direction: column;
}

.contactContainer{
    display: flex;
    flex-direction: row;
}

.contactImg{
    padding-top: 4px;
    background: #fff;
    margin-right: 1.5%;
}

.contactImg img{
    border-radius: 50%;
}


.contactName{
    padding-top: 1%;
    display: inline;
}

.messageTime{
    display: inline;
}

.chatCenter{
    flex-grow: 4;
    max-width: 100%;
}

.contactDate{
    padding: 1.4% 2% 0% 0%;
    text-align: right;
    flex-grow: 2;
    background: #fff;
    font-size: 0.95em;
}

#chatContainer{
    background: #fff;
    display: flex;
    flex-direction: row;
}

#allContacts{
    flex-grow: 2;
    background: #fff;
    border-right: 4px solid #ddd;
    min-width: 250px;
}

#chats{
    flex-grow: 4;
    background: #fff;
    margin-left: 1%;
    border-left: 4px solid #ddd;
}

#allContacts .contactContainer{
    border-bottom: 2px solid #ddd;
    padding: 10px 0px;
}

#messageInput{
    width: 96.5%;
    height: 10vh;
    border-top: 2px solid #ddd;
    margin-top: 5%;
    padding: 2%;
    resize: none;
}

#sendMsg{
    float: right;
    border: 0px;
    padding: 1% 2%;
    background-color: #6d84b4;
    color: white;
    margin: 1% 1% 0% 0%;
}