@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
}

/****** FOR CHAT FRONTEND ^ *****/
:root {
  --logoBlue: rgb(100, 197, 240);
  --buttonBlue: rgb(0, 162, 232);
  --offWhite: rgb(240, 240, 248);
  --inputGrey: rgb(225, 235, 235);
  --textGrey: rgb(131, 134, 139);
}
body {
  font-family: "Roboto", sans-serif;
  padding: 1.5em 4em;
}
input {
  display: inline-block;
  height: 35px;
  padding-left: 0.5em;
}
textarea {
  margin: 1em 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.btnInverse {
  color: var(--buttonBlue);
  background-color: white;
  border: 1px solid var(--buttonBlue);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4vw;
}
.disabled{
  pointer-events: none;
}
.test {
  border: 1px solid grey;
}
/****** LOGIN *****/
#divWrapper {
  max-width: 900px;
  min-width: 700px;
  margin: 0 auto;
}
#logo {
  flex-grow: 2;
}
#logoBase {
  color: var(--logoBlue);
}
.inputLogin {
  margin: 0 0.4em;
  width: 170px;
}
button {
  background-color: var(--buttonBlue);
  border-radius: 0.2em;
  color: var(--offWhite);
  font-weight: bold;
  border: none;
  height: 35px;
  padding: 0.4em 2em 0.4em 0.6em;
}
/****** LOGIN END *****/
/****** SIGN UP *****/
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  margin-top: 1em;
}
#colLeft {
  width: 40%;
}
#colRight {
  width: 60%;
  justify-content: center;
}
#divSignup {
  width: 70%;
}
.inputHalf {
  width: 45%;
}
.inputFull {
  width: 90%;
}
.input {
  margin-bottom: 1.2em;
}
#btnSignup {
  width: 90%;
}
/****** SIGN UP END *****/
/****** SIGN UP DETAILS *****/
#colLeft h2 {
  align-items: flex-start;
  font-weight: bold;
  font-size: 3em;
}
#signupTag {
  font-weight: bold;
  font-size: 2rem;
  width: 35%;
  margin-right: 3em;
}
#signupDetails {
  padding: 2em 1em;
  width: 55%;
}
#signupAbout {
  width: 20vw;
}
#btnRegister {
  width: 20vw;
}
/****** SIGN UP DETAILS END *****/
/****** HOMEPAGE *****/
a, a:visited, a:hover, a:active {
  color: inherit;
}

#logoLink{
  text-decoration: none;
}


#logoAbbr {
  flex-grow: 0.3;
}
#formSearch {
  display: inline-block;
  flex-grow: 3;
}
#formSearch input[type="text"] {
  background-color: var(--inputGrey);
  color: var(--textGrey);
  border: none;
  padding-left: 2em;
}
#btnLogout {
  width: 100px;
  padding-left: 0;
}
.searchContainer {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.searchIcon {
  z-index: 200;
  left: 1.4em;
  display: inline-block;
  position: relative;
}
/* .searchIcon {
  display: inline-block;
  padding: 0.38em;
  background-color: var(--inputGrey);
} */
/****** HOMEPAGE END *****/
/****** PROFILE SIDEBAR *****/
.profileSidebar {
  margin-top: 2em;
  text-align: center;
  align-items: center;
}
.profileSidebar {
  color: var(--textGrey);
}
.profileName {
  font-weight: bold;
  font-size: 1.4em;
  color: black;
}
.profilePic {
  width: 100px;
  height: 100px;
  clip-path: circle(50%);
}
#stats {
  display: table;
  margin: 0 auto;
  width: 80%;
  text-align: left;
}
.statRow {
  display: table-row;
}
.statRow p {
  display: table-cell;
  padding-left: 2em;
  font-weight: bold;
}
.statProfile p {
  padding-left: 2em;
  margin-top: 2em;
  font-weight: bold;
}
.dropdownTopic {
  height: 2em;
  color: var(--buttonBlue);
  border: 1px solid var(--buttonBlue);
  margin-right: 0.5em;
}
.btnPostTimeline {
  width: 60%;
}
/****** PROFILE SIDEBAR END *****/
/****** QUESITON INPUT *****/
#formDiscussion input {
  width: 75%;
}
#formDiscussion textarea {
  width: 75%;
}
/****** DISCUSSION ******/

.replyContainer{
  display: flex;
  flex-direction: column;
}

.replyInput {
  display: block;
  width: 75%;
  height: 10vh;
  margin-left: auto;
  padding: 2%;
  border: 1px solid grey;
  margin-right: 4%;
}

.sendReply {
  border: none;
  color: white;
  background-color: #01A2E8;
  float: right;
  margin-bottom: 4%;
  margin-right: 4%;
}

#showReplies{
  border: none;
  background-color: white;
  font-size: 1em;
  padding: 0px;
  margin-block-start: 1em;
  height: auto;
}

#discussion {
  margin-top: 2em;
}
#searchDiscussion {
  color: var(--textGrey);
}
.cardDiscussion {
  display: flex;
  margin-bottom: 2%;
}
.cardDiscussionHeader {
  display: flex;
}
.cardDiscussionFooter {
  display: flex;
}
.dateDiscussion {
  flex-grow: 2;
}
.cardDiscussion .profilePic {
  margin-right: 1em;
}
.cardDiscussionText {
  width: 65%;
}
.subjectDiscussion {
  font-size: 1.3em;
  flex-grow: 2;
}
