:root {
  --logoBlue: rgb(100, 197, 240);
  --buttonBlue: rgb(0, 162, 232);
  --offWhite: rgb(240, 240, 248);
}
body {
  font-family: "Roboto", sans-serif;
  padding: 1.5em 4em;
}
input {
  display: inline-block;
  line-height: 1.5em;
  padding-left: 0.2em;
}
textarea {
  margin: 1em 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.btnInverse {
  color: var(--buttonBlue);
  background-color: white;
  border: 1px solid var(--buttonBlue);
}
/****** LOGIN *****/
#divWrapper {
  max-width: 800px;
  min-width: 700px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4vw;
}
#logo {
  flex-grow: 2;
}
#logoBase {
  color: var(--logoBlue);
}
.inputLogin {
  margin: 0 0.4em;
  width: 120px;
}
button {
  background-color: var(--buttonBlue);
  border-radius: 0.2em;
  color: var(--offWhite);
  font-weight: bold;
  border: none;
  padding: 0.4em 2em 0.4em 0.6em;
}
/****** LOGIN END *****/
/****** SIGN UP *****/
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  margin-top: 1em;
}
#colLeft {
  width: 40%;
}
#colRight {
  width: 55%;
  display: flex;
  justify-content: center;
}
#divSignup {
  width: 70%;
}
.inputHalf {
  width: 10vw;
}
.inputFull {
  width: 20vw;
}
.input {
  margin-bottom: 1em;
}
#btnSignup {
  width: 20vw;
}
/****** SIGN UP END *****/
/****** SIGN UP DETAILS *****/
#colLeft h2 {
  align-items: flex-start;
  font-weight: bold;
  font-size: 3em;
}
/****** SIGN UP DETAILS END *****/
#signupTag {
  font-weight: bold;
  font-size: 2rem;
  width: 35%;
  margin-right: 3em;
}
#signupDetails {
  padding: 2em 1em;
  width: 55%;
}
#signupAbout {
  width: 20vw;
}
#btnRegister {
  width: 20vw;
}
