:root {
  --logoBlue: rgb(100, 197, 240);
  --buttonBlue: rgb(0, 162, 232);
  --offWhite: rgb(240, 240, 248);
}
body {
  font-family: "Roboto", sans-serif;
  padding: 1.5em 4em;
}
input {
  display: inline-block;
  line-height: 1.5em;
  padding-left: 1em;
}
/****** LOGIN *****/
#divHome {
  max-width: 800px;
  min-width: 700px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  flex-grow: 2;
}
#logoBase {
  color: var(--logoBlue);
}
.inputLogin {
  margin: 0 0.4em;
  width: 100px;
}
button {
  background-color: var(--buttonBlue);
  border-radius: 0.2em;
  color: var(--offWhite);
  font-weight: bold;
  border: none;
  padding: 0.4em 2em 0.4em 0.6em;
}
/****** LOGIN END *****/
/****** SIGN UP *****/
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  margin-top: 1em;
}
img {
  max-width: 100%;
  max-height: 100%;
}
#colImg {
  width: 45%;
  padding: 1em 2em 2em 0;
}
#colSignup {
  width: 55%;
  display: flex;
  justify-content: center;
}
#divSignup {
  width: 70%;
}
.inputSignupHalf {
  width: 30%;
}
.inputSignupFull {
  width: 60%;
}
.input {
  margin: 0.5em 0;
}
#btnSignup {
  width: 60%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/****** SIGN UP END *****/
